# Produção (VPS)
POSTGRES_USER=financeiro_prod
POSTGRES_PASSWORD=troque-esta-senha
POSTGRES_DB=financeiro_prod

SESSION_SECRET=troque-esta-chave-grande-e-aleatoria

# Como vai atrás de Nginx com HTTPS, mantenha true
COOKIE_SECURE=true

APP_PORT=3000
